.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.navbar-container h2{
    color: #7c3aed;
}
.navbar-container input{
    padding: 0.5rem;
    flex:1;
    border-radius: 2px;
}
.navbar-sub{
    display: flex;
    align-items: center;
    gap:2rem;

}